<link rel="import" href="../polymer/polymer.html">

<!--
`input-el`
Example for simple elemtn input

@demo demo/index.html
-->

<dom-module id="input-el">
  <template>
    <style>
      :host {
        display: block;
      }
      .error{
        background-color: red;
        @apply --input-ele-rror
      }
    </style>
    <input class$="[[typeEl]]" value="{{search::input}}"/>
    <button on-tap="searchFn"> Search </button>
  </template>
  <script>
    Polymer({

      is: 'input-el',

      properties: {
        /**
       * Propertie to search something
       */
        search : {
          type: String,
          value: 'Text to search',
        },
        /*Propertie to set style to element Error/Warning or set empty to normal state**/
        typeEl:{
          type: String,
          value: "none"
        }
      },
      /*
      * Function to sent event to search
      */
      searchFn:function(){
        if(this.search == ''){
          this.set('typeEl', 'error');
        }
          this.fire('make-search', this.search);
        }
      });
  </script>
</dom-module>
